<!--
{{#each tasks as |task|}}

<ul>
  <data-id='{{task.id}}'>
  <li>Tasks: {{task.updateTask}} </li>
    <li>
    {{#if task.description}}
    {{task.description}}
    {{else}}
    No description.
    {{/if}}
  </li>
    <button data-id="button-{{@index}}" id="deleteTask btn btn-default">Delete Tasks!</button>
</ul>
{{/each}}

 -->

<table id="user-tasks-table" class="table table-striped signed-in-view">

  <thead>
    <tr>
      <th>#</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody id="my-movies-table-body">
    {{#each tasks as |task|}}
      <tr>
        <td>{{task.id}}</td>
        <td>{{task.description}}</td>
        <td><button id="{{deleteTask}}" class="btn btn-danger">Delete</button></td>
        <td><button id="{{updateTask}}" class="btn btn-info">Edit</button></td>
        <!-- <td>
          <!-<button data-id="{{moviePost.id}}" class="btn btn-warning update-movie-post">Edit</button>
          <button data-id="{{moviePost.id}}" class="btn btn-danger delete-movie-post">Delete</button> -->
      </tr>
    {{/each}}
  </tbody>

</table>
